.navbar {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
  }

.navList {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
.navItem {
    margin: 10px 5px;
  }
  
.link {
    background-color: #007bff ; 
    color: #fff;
    padding: 10px 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease;
  }

.link:hover{
    background-color: aqua;
    color: blueviolet;
}